* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaina 2', cursive,'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans';
    color: #555;
}
@import 'login';
@import 'index';